name: Tests

on:
  push:
    paths:
      - "**.zig"
  pull_request:
    paths:
      - "**.zig"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: master

      - name: Lint
        run: zig fmt --check *.zig

  test:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v1
        with:
          version: master

      - name: Setup Package Manager (MacOS)
        if: matrix.os == 'macos-latest'
        run: |
          wget https://github.com/nektro/zigmod/releases/download/v26/zigmod-x86_64-macos -O zigmod
          chmod +x zigmod

      - name: Setup Package Manager (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          wget https://github.com/nektro/zigmod/releases/download/v26/zigmod-x86_64-linux -O zigmod
          chmod +x zigmod

      - name: Setup Package Manager (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          (new-object net.webclient).DownloadFile('https://github.com/nektro/zigmod/releases/download/v26/zigmod-x86_64-windows.exe', 'zigmod.exe')
      
      - name: Test
        run: |
          ./zigmod fetch
          zig build test
